.footer {
  padding: 3rem 3rem 0;
  background: #100e1d;
  color: #fff;
}

.content ul {
  list-style-type: none;

  font-size: 18px;
  line-height: 36px;
}
.content h1 {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  line-height: 52px;
}

.socials {
  margin: 4rem auto 8rem;
}
.socials > *:not(:first-of-type) {
  margin-left: 1rem;
}

.footer p {
  margin-top: 5rem;
  text-align: center;
}
.footer a {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .footer {
    padding: 3rem 0 0;
  }
  .content {
    display: flex;
  }
  .socials {
    margin: 0 auto;
  }

  .content form button {
    top: 16%;
  }
}
